sudo: required
language: cpp
dist: xenial
before_install:
install:
before_script:
  - sudo add-apt-repository -y "deb http://us.archive.ubuntu.com/ubuntu/ $(lsb_release -sc) universe multiverse"
  - sudo add-apt-repository -y "deb http://us.archive.ubuntu.com/ubuntu/ $(lsb_release -sc)-updates universe multiverse"
  - sudo apt-get update
script:
  - ./package.sh ${DISTRIBUTIONS} ${ARCHITECTURES}
after_failure:
after_success:
env:
  matrix:
    - DISTRIBUTIONS=trusty ARCHITECTURES=i386
    - DISTRIBUTIONS=xenial ARCHITECTURES=i386
    - DISTRIBUTIONS=bionic ARCHITECTURES=i386
    - DISTRIBUTIONS=trusty ARCHITECTURES=amd64
    - DISTRIBUTIONS=xenial ARCHITECTURES=amd64
    - DISTRIBUTIONS=bionic ARCHITECTURES=amd64
