Source: libprime-server
Priority: optional
Maintainer: Kevin Kreiser <kevinkreiser@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf, pkg-config, libcurl4-openssl-dev, libzmq3-dev, libczmq-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/kevinkreiser/prime_server
Vcs-Git: git://github.com/kevinkreiser/prime_server.git

Package: libprime-server-dev
Section: contrib/libdevel
Architecture: any
Depends: libprime-server0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libzmq3-dev
Description: Service oriented distributed computing API
 A set of APIs designed around the zeromq butterfly pattern
 specifically focused on servicing http requests

Package: libprime-server0
Section: contrib/libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libzmq5, libczmq3
Description: Service oriented distributed computing API
 A set of APIs designed around the zeromq butterfly pattern
 specifically focused on servicing http requests

Package: prime-server-bin
Section: contrib/misc
Architecture: any
Depends: libprime-server0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Service oriented distributed computing executables
 A set of executables for use in running a distributed http service
